<h1>Here is our beautiful: <%= @pet.name  %> </h1>

  <p>The pet is a <%= @pet.species %></p>
  <p>and has a color of: <%= @pet.color %></p>
  <p>The pet was last seen <%= @pet.last_seen %> days ago</p>
